
*.class
*.jar
*.war
.idea/          # IntelliJ
*.iml           # IntelliJ module files
.vscode/        # VS Code
.project        # Eclipse
.classpath      # Eclipse
.settings/      # Eclipse
.DS_Store       # macOS
Thumbs.db       # Windows

output/
*.csv
/bin/
